<form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="flex flex-col items-center justify-center h-full w-full">
    <mat-card class="px-20 py-7 min-w-[50%]">
        <mat-card-header class="mb-10">
            <mat-card-title class="text-4xl text-white">
                MusiX
            </mat-card-title>
            <mat-card-subtitle>
                Fill in the fields to create an account.
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="flex flex-col gap-5">
            <!-- First Name -->
            <mat-form-field>
                <mat-label>
                    First Name
                </mat-label>
                <input type="text" matInput [formControl]="signUpForm.controls.firstName" autocomplete="first-name" />
                <mat-error *ngFor="let error of signUpForm.controls.firstName.errors | keyvalue">
                    <app-field-validation-errors [error]="error.key"></app-field-validation-errors>
                </mat-error>
            </mat-form-field>

            <!-- Last Name -->
            <mat-form-field>
                <mat-label>
                    Last Name
                </mat-label>
                <input type="text" matInput [formControl]="signUpForm.controls.lastName" autocomplete="last-name" />
                <mat-error *ngFor="let error of signUpForm.controls.lastName.errors | keyvalue">
                    <app-field-validation-errors [error]="error.key"></app-field-validation-errors>
                </mat-error>
            </mat-form-field>

            <!-- E-mail address -->
            <mat-form-field>
                <mat-label>
                    E-mail address
                </mat-label>
                <input type="text" matInput [formControl]="signUpForm.controls.email" autocomplete="username" />
                <mat-error *ngFor="let error of signUpForm.controls.email.errors | keyvalue">
                    <app-field-validation-errors [error]="error.key"></app-field-validation-errors>
                </mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field>
                <mat-label>
                    Password
                </mat-label>
                <input type="password" matInput [formControl]="signUpForm.controls.password" autocomplete="new-password" />
                <mat-error *ngFor="let error of signUpForm.controls.password.errors | keyvalue">
                    <app-field-validation-errors [error]="error.key"></app-field-validation-errors>
                </mat-error>
            </mat-form-field>

            <!-- Submit button -->
            <button mat-flat-button type="submit" color="primary" [disabled]="signUpForm.disabled" class="disabled:text-white disabled:bg-primary-100">
                <ng-container *ngIf="loading === false">Sign in</ng-container>
                <ng-container *ngIf="loading === true">Signing in</ng-container>
            </button>
        </mat-card-content>
    </mat-card>

    <div class="mt-5">
        <ul class="text-center">
            <li><a routerLink="/auth/sign-up" class="text-primary-500 hover:text-primary-600">Create account instead</a></li>
        </ul>
    </div>
</form>
