<form [formGroup]="signInForm" (ngSubmit)="signIn()" class="flex flex-col items-center justify-center h-full w-full">
    <mat-card class="px-20 py-7 min-w-[50%]">
        <mat-card-header class="mb-10">
            <mat-card-title class="text-4xl text-white">
                MusiX
            </mat-card-title>
            <mat-card-subtitle>
                Fill in your credentials to sign in.
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="flex flex-col gap-5">
            <!-- E-mail address -->
            <mat-form-field>
                <mat-label>
                    E-mail address
                </mat-label>
                <input type="text" matInput [formControl]="signInForm.controls.emailAddress" autocomplete="username" />
                <mat-error *ngFor="let error of signInForm.controls.emailAddress.errors | keyvalue">
                    <app-field-validation-errors [error]="error.key"></app-field-validation-errors>
                </mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field>
                <mat-label>
                    Password
                </mat-label>
                <input type="password" matInput [formControl]="signInForm.controls.password" autocomplete="current-password" />
                <mat-error *ngFor="let error of signInForm.controls.password.errors | keyvalue">
                    <app-field-validation-errors [error]="error.key"></app-field-validation-errors>
                </mat-error>
            </mat-form-field>

            <!-- Submit button -->
            <button mat-flat-button type="submit" color="primary" [disabled]="signInForm.disabled" class="disabled:text-white disabled:bg-primary-100">
                <ng-container *ngIf="loading === false">Sign in</ng-container>
                <ng-container *ngIf="loading === true">Signing in</ng-container>
            </button>
        </mat-card-content>
    </mat-card>

    <div class="mt-5">
        <ul class="text-center">
            <li><a routerLink="/auth/sign-up" class="text-primary-500 hover:text-primary-600">Create account instead</a></li>
        </ul>
    </div>
</form>
